<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="discordWebhookUrl" source="logging.discord.webhook-url"/>

    <include resource="console-appender.xml"/>
    <logger name="com.gamzabat.algohub" level="DEBUG"/>
    
    <springProfile name="prod">
        <include resource="discord-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!-- prod에서만 DISCORD 전송 -->
            <appender-ref ref="ASYNC_DISCORD"/>
        </root>
    </springProfile>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>